<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Bundle Name="SVGMapper Installer" Version="1.0.0.0" Manufacturer="Sai Teja Talasila" UpgradeCode="d3c7a1b5-3f6d-4d29-9aab-b2f3c8d4e5f6">
    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense" />
    <Chain>
      <MsiPackage SourceFile="$(var.MsiPath)" />
    </Chain>
  </Bundle>
</Wix>
